<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
    </compilation>
    <!-- <httpHandlers>
      <remove verb="*" path="*.asmx" />
      <add verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </httpHandlers> -->
    <authentication mode="Windows" />
    <customErrors mode="Off">
    </customErrors>
    <authorization>
      <allow users="*" />
    </authorization>
    <roleManager cacheRolesInCookie="false" enabled="true">
    </roleManager>
    <trace enabled="true" requestLimit="20" pageOutput="false" traceMode="SortByTime" localOnly="false" />
    <!--<sessionState cookieless="UseUri" mode="SQLServer" sqlCommandTimeout="1200" sqlConnectionString="data source=202.144.125.90;user id=sa; password=sa@040" timeout="30" />-->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" />
    <webServices>
      <protocols>
        <add name="HttpSoap" />
        <add name="HttpPost" />
        <add name="HttpGet" />
        <add name="Documentation" />
      </protocols>
    </webServices>
    <httpRuntime executionTimeout="1200" maxRequestLength="30000" />
    <xhtmlConformance mode="Transitional" />
  </system.web>
  <system.codedom>
  </system.codedom>
 <!-- <system.web.extensions>
    <scripting>
      <webServices>
         Uncomment this line to customize maxJsonLength and add a custom converter
       
      <jsonSerialization maxJsonLength="500">
        <converters>
          <add name="ConvertMe" type="Acme.SubAcme.ConvertMeTypeConverter"/>
        </converters>
      </jsonSerialization>
     
        Uncomment this line to enable the authentication service. Include requireSSL="true" if appropriate.
       
        <authenticationService enabled="true" requireSSL = "true|false"/>
    
        Uncomment these lines to enable the profile service. To allow profile properties to be retrieved
           and modified in ASP.NET AJAX applications, you need to add each property name to the readAccessProperties and
           writeAccessProperties attributes. 
       
      <profileService enabled="true"
                      readAccessProperties="propertyname1,propertyname2"
                      writeAccessProperties="propertyname1,propertyname2" />
     
      </webServices>
     
      <scriptResourceHandler enableCompression="true" enableCaching="true" />
     
    </scripting>
  </system.web.extensions> -->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="org" value="1" />
    <add key="ewswsurl" value="" />
    <add key="ewsemail" value="" />
    <add key="exchangeProcess" value="d437620f-188a-4b20-ae59-89a681bd44f9-1" />
    <add key="exchangeMSTraceProcess" value="d437620f-188a-4b20-ae59-89a681bd44f9" />
    <add key="WSPW" value="" />
    <add key="GUIDTimeOut" value="" />
    <!--<add key="DSN" value="Server=10.0.3.7;uid=sa;pwd=sa@040;database=LearningServer" />
    <add key="DSNReport" value="10.0.3.7;uid=sa;pwd=sa@040;database=LearningServer" />-->
    <!--<add key="DSN" value="Server=202.144.125.86;uid=sa;pwd=sa@040;database=LearningServer" />
    <add key="DSNReport" value="Server=202.144.125.86;uid=sa;pwd=sa@040;database=LearningServer" />-->
     <!--<add key="DSN" value="Server=103.209.147.206;uid=sa;pwd=sa@040;database=NIATEST" />
    <add key="DSNReport" value="Server=103.209.147.206;uid=sa;pwd=sa@040;database=NIATEST" />-->
     <add key="DSN" value="Server=103.241.144.234,15666;uid=sa;pwd=TNbiga$qlse(ure1;database=LearningServer" />
    <add key="DSNReport" value="Server=103.241.144.234,15666;uid=sa;pwd=TNbiga$qlse(ure1;database=LearningServer" />
    <add key="cybs.keysDirectory" value="" />
    <add key="cybs.sendToProduction" value="false" />
  </appSettings>
  <system.net>
    <!--<mailSettings>
      <smtp>
        <network host="smtp.office365.com" userName="LMS-support@niapune.org.in" password="lms@2017" /> 
  <network host="smtpauth.exam360.net" userName="support@exam360.net" password="exam360@123" />
      </smtp>
    </mailSettings>-->
    
  <mailSettings >
      <smtp from="lms-support@niapune.org.in" >
       <network host="smtp.office365.com" enableSsl="true" userName="lms-support@niapune.org.in" password="nbt@2022" />
               
         <!--<network host="smtp.office365.com" userName="lms-support@niapune.org.in" port="587" password="lms@2017" />-->
 
      </smtp>
    </mailSettings>
  </system.net>
</configuration>